* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.none{
  display: none;
}

body  {
  background-color: #252526 !important;
  color: #ccc !important;
  font-family: Poppins, sans-serif !important;
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.transition-fade {
  opacity: 1;
  transition: 700ms;
  transform: translateX(0);
  transform-origin: left;
  }
  
  .transition-right {
  transform: translateX(0);
  transform-origin: right;
  }
  
  html.is-animating .transition-right {
  transition: 700ms;
  transform: translateX(-100%);
  }
  
  html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
  }
  
  html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
  }
  
  .transition-index {
  transition: 700ms;
  transform: translateY(0);
  }
  
  html.is-leaving .transition-index {
  transform: translateY(-100%);
  }
  
  .transition-came {
  transition: 700ms;
  transform: translateX(0);
  }
  
  html.is-animating .transition-came {
  transform: translateX(-100%);
  }
  
  .transition-swipe {
  transition: 700ms;
  transform: translateY(0);
  }
  
  html.is-animating .transition-swipe {
  transform: translateY(100%);
  } 

.navbar a {
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.3s ease-in-out;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 200px;
  padding: 20px;
}

.navbar li:hover{
  background-color: #242b2f;
}

.content {
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}



.connect_with_me {
  font-size: normal;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.connect_p{
  text-transform:uppercase;
  margin-bottom: 10px;
  font-size: 10px;
}



.skills_section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}


.skills_section li {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.skills_section li:hover {
  background-color: #404040;
  border-color: #404040;
  color: #f2f2f2;
  cursor: pointer;
}

.list_of_technologies ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.list_of_technologies li{
  font-size: 10px;
  border: none;
  background-color: #212020;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.list_of_technologies li:hover {
  background-color: #3c3939;
  border-color: #404040;
  color: #f2f2f2;
  cursor: pointer;
}
