* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1c1c1c;
  z-index: 1;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 500px;
}

.navbar a {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #f2f2f2;
  transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #404040;
}

.content {
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 30px auto;
  max-width: 600px;
  text-align: justify;
}

.connect_section p{
  font-size: normal;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.skills_section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}


.skills_section li {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.skills_section li:hover {
  background-color: #404040;
  border-color: #404040;
  color: #f2f2f2;
  cursor: pointer;
}

.skills_section,
.margin_bottom,
.connect_section,
.experience_section
 {
   padding-top: 40px;
 }


.animate {
  transition: transform 1s ease-in-out;
  transform: translateY(50px);
  }


  .connect_section ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 800px;
    
  }

  .connect_section li {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
  }

 img{
   height: 150px;
   width: 150px;
   object-fit: cover;
   border-radius: 10px;
 }

